<html>
    <head>
        <title style="color:crimson">
            denim collection
        </title>
    </head>

    <body>
        <h1 style="color:darkblue"><bold>denim collection </bold></h1>

        <form method="POST" action="/submit">



          First Name: <input type="text" placeholder="enter your name" name="firstName">
          Last Name:  <input type="text" placeholder="enter your name" name="lastName"><br> <br>
          Password:    <input type="password" placeholder="enter your password" name="password">
          Phone number : <input type ="tel" placeholder="optional" name="phoneNumber"> <br>
         Select Gender: <input type="radio" name="male" >Male 
                        <input type="radio" name="female" >Female <br><br>
         <input type="submit"  value="Done"> Done</input>               




        </form>







    </body>
</html>